@import '~antd/dist/antd.css';
#root{
    max-width: 100%;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    padding-top: 10px;
}
.loading {
    margin: 0 auto;
    text-align: center;
}
span.anticon.anticon-loading.anticon-spin {
    font-size: 65px;
    color: #fff;
    margin-top: 100px;
}
.black span.anticon.anticon-loading.anticon-spin {
    color: #000;
}
p{
  margin: 0;
  padding: 0;   
}