.stall-wr {
    width: 1200px;
    min-height: 500px;
    margin: 0 auto;
    margin-top: 40px;
    background: #fff;
    padding: 20px;
    border-radius: 13px;
    margin-bottom:100px;
    border:1px solid #ccc;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.not-stall-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.not-stall-item-btn {
    margin-top: 20px;
    background: #0ebbff;
    border: none;
    outline: none;
    height: 38px;
    border-radius: 9px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}  
.not-stall-item-btn:hover{
    color: #fff;
} 
.not-stall-item-title {
    font-size: 30px;
    font-weight: 400;
}
.stall-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #33333342;
}


.stall-length p{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}
.stall-table-item-img {
    width: 50px;
    height: 50px;
    margin-right: 40px;
    padding: 5px;
    background: #f0f0f0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stall-table-item-img img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}
th.stall-table-name {
    padding:10px;
    display: flex;
    align-items: center;
}
table.stall-list.stall-table {
    width: 100%;
    color: #333333a6;
}
th.stall-table-name p,th.stall-table-sku,th.stall-table-price{
    color: #898989;
    margin: 0;
    font-weight: 400;
}
th.stall-table-name p{
    font-weight: 500;

}
th.stall-table-price{
    width: 150px;

}
th.stall-table-status.available {
    color:rgb(0 171 0)
}
th.stall-table-status.unavailable {
    color:rgb(255, 0, 0)
}
.item-edit {
    cursor: pointer;
    color: #0088ff;
}
.item-delete {
    color: red;
    cursor: pointer;
}
tr {
    padding:10px;
    border-bottom: 1px solid #ccc;
}
    

